/*
Theme Name: RapGuide
Theme URI: http://rapguide.com
Description: Designed by Noel Planet, Developed by Adrian D'Atri-Guiran
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0 -315px 0 0;
	width: 100%;
}
#content {
	margin: 0 345px 0 0px;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 315px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 911px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Helvetica;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
.widget-title,
#site-title,
.entry-title
{
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100;
}

#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.wp-caption-text {
	font-family: Helvetica;

}
input[type=submit] {
	font-family: 'Permanent Marker', arial, serif;
		font-weight: 100;
}
pre {
	font-family: Helvetica;
		font-weight: 100;
}
code {
	font-family: Helvetica;
		font-weight: 100;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#main,
#wrapper {
	margin: 0 auto;
	width: 911px;
}
#wrapper {
	background: #d2eac5;
}

#outsidehead {
	background: #000000;
	height: 25px;
}

#headwrapper {
	background-color: #000;
	width: 911px;
	margin: 0 auto;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	width: 911px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 911px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #d2eac5;
}
body,
input,
textarea {
	color: #000;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
  margin: 0 0 18px 1.5em; 
}
/* fix for colapsing archives ?? not needed?  
ul.collapsing {
	margin: 0 0 18px 1.5em;
}*/

ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #def3d2;
	color: #8dac7c;
	border: solid 1px #8dac7c;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 16px;
}
a:link {
	font-weight: 400;
	color: #336600;
	text-decoration: none !important;
}
a:visited {
	color: #336600;
	text-decoration: none !important;
}
a:active,
a:hover {
	color: #999933;
	text-decoration: none !important;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

/* =Header
-------------------------------------------------------------- */

#header {
	padding: 30px 0 0 0;
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding {
	border-top: 4px solid #000;
	border-bottom: 8px solid #000;
	background-image: url('/images/rg-header.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	height: 206px;
}
#branding-container {
    height: 206px;
    	margin-bottom: 20px;
}

#socialcontainer {
	width: 911px;
	height: 100%;
	margin: 0 auto;
}

#social {
	position: relative;
	top: 0px;
	height: 27px;
	width: 295px;
	float: right;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(78, 147, 5);
	/* RGBa with 0.6 opacity */
	background: rgba(78, 147, 5, 0.5);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F4e9305, endColorstr=#7F4e9305);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F4e9305, endColorstr=#7F4e9305)";
}

.social {
	height: 30px;
	vertical-align: text-top;
	padding: 0 15px 0 15px;
	font-family: 'Permanent Marker', arial, serif;
	color: #FFFFFF;
		font-size: 15px;
}

.social a {
	font-family: Helvetica;
	color: #FFFFFF;
	font-size: 13px;
}

.socialdiv {
	font-family: Helvetica;
	color: #FFFFFF;
		font-size: 15px;
}

/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	float: left;
	margin: 0 auto;
	width: 911px;
}

.outer {text-align: justify; height: 15px;}
.outer span.finish {display: inline-block; width: 100%}
.outer span.inner {display: inline-block; white-space: nowrap;}

#access a {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 100;
	color: #78844f;
	display: block;
	line-height: 26px;
	padding: 0 3px 0 0;
	text-decoration: none;
	font-family: 'Permanent Marker', arial, serif;
}

#access a:hover {
	color: #c4c20e;
}

#access span.current_page_item a {
	color: #c4c20e;
}



/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 10px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	margin-top:35px;
	font-size: 14px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
/*	border-bottom: 1px solid #849584; */ /* removed, seemed unneccesary */
}
.home .sticky {
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.one-column-title {
	background-image: url('/images/rg-line-full.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100 !important;
	color: #000;
	font-size: 24px;
	margin: 0 0 36px 0;
	text-transform: uppercase;
}
.two-column-title-left {
	background-image: url('/images/rg-line-left.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100 !important;
	color: #000;
	font-size: 24px;
	margin: 0 0 36px 0;
	text-transform: uppercase;
}
.two-column-title-right {
	background-image: url('/images/rg-line-right.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100 !important;
	color: #000;
	font-size: 24px;
	margin: 0 0 36px 0;
	text-transform: uppercase;
}
.page-title {
	background-image: url('/images/rg-line-left.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 36px 0;
}

.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	font-family: Helvetica;
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #336600;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #999933;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 40px;
}
.entry-meta a,
.entry-utility a {
	color: #336600;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #999933;
}
#content .video-player {
	padding: 0;
}

/*  Tag Cloud
-------------------------------------------------------------- */
.tagcloud a {
	padding: 0 0.6em 0 0.6em;
	line-height: 1.3em;
}


/*  About Page
-------------------------------------------------------------- */
.wpcf7-response-output, .wpcf7-form, .wpcf7-form p {
	font-family: Helvetica;
	font-size: 12px;
	color: #7a926c;
}

.wpcf7-not-valid-tip-no-ajax, .wpcf7-validation-errors {
	color: #678657;
}

/*  DVD Page
-------------------------------------------------------------- */
#rgteDVDleft{
  float: left;
  margin-bottom: 1em;
}
#rgteDVDright{
  float: right;
  margin-bottom: 1em;
}
.page-id-1497 #content table {
	border: none;
}
.page-id-1497 #content tr td {
	border-top: none; 
  padding: 0;
}
.page-id-1497  #content input{
  margin-top: 0;
}
.page-id-1497  #content table{
  margin: 0;
  text-align: center;
}
.page-id-1497 form{
  text-align: center;
}
.sym{
  margin-right: 1em;
}
/* discussion page
-------------------------------------------------------------- */
ul.discussion-list {
	margin-top: 20px;
	margin-left: 0px;
	border-top: 1px solid #849584;
}

ul.discussion-list li {
	list-style-type: none;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #849584;
}

ul.discussion-list li a {
	font-size: 18px;
}

ul.discussion-list li a.commentlink {
	font-size: 14px;
}

/* Featured videos 
-------------------------------------------------------------- */
#featured-videos {
	background-color: #000;
	width: 911px;
}

.videosbar {
	clear: both;
	border-bottom: solid 1px #8caa79;
	margin-bottom: 25px;
}

.vidsoon {
	padding: 17px 10px 0px 10px;
	text-align: center;

}
.videomissing {
	height: 83px;
	width: 118px;
	float: left;
	margin-top: 4px;
	font-size: 16px;
	color: #8dac7c;
	background-color:#d2eac5;
	border: solid 2px #8dac7c;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.videomissingwide {
	height: 329px;
	width: 542px;
	float: left;
	margin-top: 4px;
	font-size: 16px;
	color: #8dac7c;
	background-color:#d2eac5;
	border: solid 2px #8dac7c;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.vidsoonwide {
	padding: 100px 10px 0px 10px;
	text-align: center;
}

.videolength{
	color: #6a7567;
	font-size: 12px;
	line-height: 22px;
	font-style: italic;
}
.videothumb {
	padding: 5px 40px 0 5px;
	float: left;
	width: 480px;
	height: 360px;
}
.videothumbsmall {
	padding: 5px 15px 0 5px;
	float: left;
	width: 118px;
	height: 150px;
	overflow: hidden;
}
.guidethumbsmall{
	padding: 5px 15px 30px 5px;
	float: left;
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.guidethumbsmall img{
	height: 120px;
	width: 120px;
}
.videothumbsmall img{
	width: 118px;
	height: 83px;
}
.vidright {
	float:right;
	width: 420px;
}

.vidselect {
	float: right;
	width: 370px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: right;
}

.vidtitle {
	padding: 0px 30px 0 20px;
	color: #a2a59e;
	font-size: 18px;
}

.vidtitlesmall {
	padding: 0px 15px 0 00px;
	font-size: 18px;
}

.vidinfo {
	padding: 20px 30px 20px 0px;
	color: #a2a59e;
	font-size: 12px;	
}

.vidinfosmall {
	padding: 10px 30px 15px 0px;
	color: #000;
	font-size: 14px;	
}

.vidinfosmall .entry-utility {
	padding-bottom: 0px !important;
}

.vidinfosmall p{
	margin-bottom: 0px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

.vidselect ul {
	list-style: none;
}

.vidselect ul li {
	color: #252524;
	font-family: 'Permanent Marker', arial, serif;
	display: inline;
	padding: 5px;
}

.vidselect ul li a {
	color: #252524;
	font-size: 24px;
	font-family: 'Permanent Marker', arial, serif;
	text-decoration: none;
}

.vidselect ul li a:hover {
	color: #c4c20e;
}

.vidselect ul li.current a {
	color: #c4c20e;
}

.videolink a{
	color: #c4c20e;
	text-decoration: none;
}
.videolink a:hover{
	color: #fdfa14;
}

#video-single {
	float: left;
}
#video-single-description {
	width: 335px;
	float: right;
	
}

#video-single-description h1{
	color: #336600;
	font-size: 18px;
	margin-bottom: 10px;
}

#video-single-description p{
	padding-top: 10px;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
}

#lyricomm {
	background-image:url('/images/rg-line-full.gif');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#lyricomm ul{
	margin: 0;
	padding: 0 0 5px 0;
	list-style: none;
}

#lyricomm li{

	height:36px;
	display: inline;
	
}
#lyricomm li a{
	text-decoration: none;
		font-family: 'Permanent Marker', arial, serif;
	padding: 2px 20px 2px 20px;
	margin-bottom: 4px;
	color: #000;
	font-size: 24px;
	background-color:  transparent;
}
#lyricomm li.current a{
	text-decoration: none;
	color: #d2eac5;
	background-color: #000;
	
}
#lyricomm li.current a:hover{
	text-decoration: none;
	color: #d2eac5;
	background-color: #000;
	
}
#lyricomm li a:hover{
	text-decoration: none;
	color: #d2eac5;
	background-color: #000;
	
}

#contributors-box {
	padding-top: 5px;
}

#contrib {
	padding-top:20px;
	float: left;
	width: 585px;
}
#contrib p {
	font-size: 14px;
	line-height: 30px;
	margin: 0;
}

#contrib p strong {
	text-transform: capitalize;
}

#gtizzy {
	float: right;
	width: 315px;
}

/* = resources page 
-------------------------------------------------------------- */

.minus {
	float: left;
	padding-right: 10px;
	cursor: pointer;
}
.plus {
	float: left;
	padding-right: 10px;
	cursor: pointer;
}

#resources {

}

#resources h2 {
	line-height: 15px;
	font-size: 14px;
	clear: none;
	color: #336600;
	cursor: pointer;
}
#resources h2.active {
	color: #999933;
}

#resources h3 {
	line-height: 15px;
	font-size: 14px;
	clear: none;
	color: #336600;
	cursor: pointer;
	margin-bottom:7px;
}

li.postlink {
	padding-bottom: 10px;
	list-style-type: none;
}

#resources h3.active {
	color: #999933;
}

/* = animal links
-------------------------------------------------------------- */
#bar {
	background-image: url('/images/rg-line-full.gif');
	background-repeat: no-repeat;
	background-position: top center;
	width: 911px;
	height: 400px;
	padding-top: 9px;
	margin-top: 25px;
}

.linkgraphics {
	float: left;
	padding-right: 29.5px;
}

.linkgraphics h1{
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.0em !important;
	margin: 0 0 12px 0 !important;
}

.linkgraphics div {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 24px;
	width: 281px;
	text-align: justify;
	padding-bottom: 20px;

}

/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 560px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
		max-width: 550px !important; /* prevent too-wide images from breaking layout */

}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Mailing List
-------------------------------------------------------------- */

.mc_custom_border_hdr{
	padding: 0 !important;
}

.mc_var_label {

	font-family: Helvetica;
}
#mc_signup_form .mc_input {
	margin-top: 0;
}
#mc_signup_form{
	padding-left: 0 !important;
}
.mc_signup_submit {
	text-align: left !important;
}
#mc_signup_submit {
	margin-top: 10px !important;
}
/* =Comments
-------------------------------------------------------------- */
.form-allowed-tags{
	display:none;
}
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	font-family: Helvetica;
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-form-url {
	display: none;
}

.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	font-size: 16px;
	color: #8dac7c;
	background-color:#d2eac5;
	border: solid 2px #8dac7c;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type=submit]:hover {
	color: #d2eac5;
	background-color:#8dac7c;
}
input[type=submit]:active {
	color: #d2eac5;
	background-color:#678657;
	border: solid 2px #678657;
}
#respond {
	margin: 15px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

#searchform {
	text-align:right;
}


.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {

	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}

.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 40px 0;
}
.widget-title {
	background-image: url('/images/rg-line-right.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100 !important;
	color: #000;
	line-height: 1.5em;
	font-size: 24px;
	margin-bottom: 20px;
}

.footer-widget-title {
	background-image: url('/images/rg-line-full.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	font-family: 'Permanent Marker', arial, serif;
	font-weight: 100;
	padding-bottom: 14px;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 20px;
	padding-bottom: 5px;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}

#primary {
	margin-top: 67px;
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */
#footer-wrap {
	margin: 0 auto;
	width: 911px;
	padding-top: 25px;
}
#footerbar {
	height: 220px;
	background-color: #b6d4a6;
}

#footer {

}
#colophon {
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}